<h2>List Permission</h2>
<button mat-flat-button routerLink="/permission/create">Create permission</button>

@if (permissions) {

<table mat-table [dataSource]="permissions"  class="mat-elevation-z8 lista">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name permission</th>
        <td mat-cell *matCellDef="let permission">
            {{permission.name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description permission</th>
        <td mat-cell *matCellDef="let permission">
            {{permission.description}}
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let permission">
            <a mat-flat-button routerLink="/permission/update/{{permission.id}}">Edit</a>
            <button mat-flat-button color="warn">Delete</button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let permission; columns: columns"></tr>

</table>
}