<h2>{{title}}</h2>

<form (submit)="gurdarCambios()" [formGroup]="form">
    <div class="">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input [formControl]="form.controls.first_name" matInput>
        </mat-form-field>
    </div>

    <div class="">
        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input [formControl]="form.controls.last_name" matInput>
        </mat-form-field>
    </div>

    <div class="">
        <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input [formControl]="form.controls.phone_number" matInput>
        </mat-form-field>
    </div>

    <div class="">
        <button type="submit" mat-flat-button>Save</button>
        <a mat-stroked-button routerLink="/person">Cancel</a>
    </div>
</form>