<h2>List Form</h2>
<button mat-flat-button routerLink="/form/create">Create Form</button>
<button *ngIf="isAdmin" mat-flat-button routerLink="listDetele">Restore</button>

@if (forms) {

<table mat-table [dataSource]="forms" class="mat-elevation-z8 lista">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name form</th>
        <td mat-cell *matCellDef="let form">
            {{form.name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description form</th>
        <td mat-cell *matCellDef="let form">
            {{form.description}}
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let form">
            <a mat-flat-button routerLink="/form/update/{{form.id}}">Edit</a>
            <button mat-flat-button>Delete</button>
            <button mat-stroked-button  (click)="deleteLogic(form.id)">Eliminar Logico</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let form; columns: columns"></tr>

</table>
}