<h2>List Module</h2>
<button mat-flat-button routerLink="/module/create">Create module</button>
<button *ngIf="isAdmin" mat-flat-button routerLink="/module/listDeleteModule">Restore</button>

@if (modules) {

<table mat-table [dataSource]="modules"  class="mat-elevation-z8 lista">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name module</th>
        <td mat-cell *matCellDef="let module">
            {{module.name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description module</th>
        <td mat-cell *matCellDef="let module">
            {{module.description}}
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let module">
            <a mat-flat-button routerLink="/module/update/{{module.id}}">Edit</a>
            <button mat-flat-button color="warn">Delete</button>
            <button mat-stroked-button (click)="DeleteLogical(module.id)">Delete Logical</button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let module; columns: columns"></tr>

</table>
}