<h2>{{title}}</h2>
<form (submit)="save()" [formGroup]="form">
    <div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rolid" required>
                    <mat-option *ngFor="let rol of rols" [value]="rol.id">
                        {{ rol.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>user</mat-label>
                <mat-select formControlName="userid" required>
                    <mat-option *ngFor="let user of users" [value]="user.id">
                        {{ user.user_name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>



        <div>
            <button type="submit" mat-flat-button>Save</button>
            <a mat-stroked-button routerLink="/rolUser">Cancel</a>
        </div>
    </div>
</form>