<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ModelSecurity</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/tailwind.output.css" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="../assets/js/init-alpine.js"></script>

    <!-- alertas sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- estilos -->
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">

        <!-- Desktop sidebar -->
        <aside class="sidebar z-20 w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0 " id="menu">
        </aside>



        <!-- contenedor -->

        <div class="flex flex-col flex-1 w-full">

            <main class="h-full overflow-y-auto">
                <div class="container px-6 mx-auto grid">
                    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200" id="tituloFormulario">
                        Crear Rol User
                    </h2>


                    <!-- Formulario -->
                    <form class="mb-8 mt-6">
                        <div class="compos flex space-x-6">
                            <!-- Campo ID de Rol -->
                            <div class="brutalist-container">
                                <input placeholder="ID de Rol" class="brutalist-input smooth-type rolid" type="number"
                                    id="rolid" required />
                                <label for="rolid" class="brutalist-label">ID de Rol</label>
                            </div>
                            <!-- Campo ID de User -->
                            <div class="brutalist-container">
                                <input placeholder="ID de User" class="brutalist-input smooth-type userid"
                                    type="number" id="userid" required />
                                <label for="userid" class="brutalist-label">ID de User</label>
                            </div>

                        </div>

                        <!-- Mensaje de Éxito -->
                        <div id="mensajeExito"
                            class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative hidden"
                            role="alert">
                            Form creado exitosamente.
                        </div>

                        <!-- Mensaje de Error-->
                        <div class="bg-red-600 border border-green-400 text-white font-bold px-4 py-3 px-4 mt-6 mb-6 rounded-lg  hidden"
                            role="alert" id="mensajeError">
                            ¡Ha ocurrido un error!
                        </div>

                        <!-- Botones de Acción -->
                        <div class="boton flex mt-6">
                            <button class="btn-style mr-5" id="btnCrear" type="button">
                                Registrar
                            </button>
                            <button type="button" class="btn-style hidden mr-5" id="btnActualizar">
                                Actualizar
                            </button>
                            <button type="button" class="btn-style-cancelar hidden" id="btnCancelar">
                                Cancelar
                            </button>
                        </div>
                    </form>




                    <!--   -->
                    <h4 class="mb-8 text-lg font-semibold text-gray-600 dark:text-gray-300">
                        Table with actions
                    </h4>
                    <div class="w-full overflow-hidden rounded-lg shadow-xs">
                        <div class="w-full overflow-x-auto">
                            <table class="w-full whitespace-no-wrap" id="tablaForm">
                                <thead>
                                    <tr
                                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="px-4 py-3">#</th>
                                        <th class="px-4 py-3">Rol Name</th>
                                        <th class="px-4 py-3">User Name</th>
                                        <th class="px-4 py-3">Permission Name</th
                                        <th class="px-4 py-3">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                                    id="personTableBody">
                                    <!--  Datos dinamicos -->
                                </tbody>
                            </table>
                        </div>


                        <div
                            class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                            <span class="flex items-center col-span-3">
                                Showing 21-30 of 100
                            </span>
                            <span class="col-span-2"></span>
                            <!-- Pagination -->
                            <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                                <nav aria-label="Table navigation">
                                    <ul class="inline-flex items-center">
                                        <li>
                                            <button
                                                class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                                                aria-label="Previous">
                                                <svg class="w-4 h-4 fill-current" aria-hidden="true"
                                                    viewBox="0 0 20 20">
                                                    <path
                                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                        clip-rule="evenodd" fill-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </li>
                                        <li>
                                            <button
                                                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                1
                                            </button>
                                        </li>
                                        <li>
                                            <button
                                                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                2
                                            </button>
                                        </li>
                                        <li>
                                            <button
                                                class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                3
                                            </button>
                                        </li>
                                        <li>
                                            <button
                                                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                4
                                            </button>
                                        </li>
                                        <li>
                                            <span class="px-3 py-1">...</span>
                                        </li>
                                        <li>
                                            <button
                                                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                8
                                            </button>
                                        </li>
                                        <li>
                                            <button
                                                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                9
                                            </button>
                                        </li>
                                        <li>
                                            <button
                                                class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                                                aria-label="Next">
                                                <svg class="w-4 h-4 fill-current" aria-hidden="true"
                                                    viewBox="0 0 20 20">
                                                    <path
                                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                        clip-rule="evenodd" fill-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </li>
                                    </ul>
                                </nav>
                            </span>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>


    <script type="module" src="../includes/js/main.js"></script>

    <script src="../Controller/CRUD/SELECT/rolUser.js"></script>


</body>

</html>