<h2>{{title}}</h2>
<form (submit)="save()" [formGroup]="form" class="form-container">
    <div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rolid" required>
                    <mat-option *ngFor="let rol of rols" [value]="rol.id">
                        {{ rol.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Form</mat-label>
                <mat-select formControlName="formid" required>
                    <mat-option *ngFor="let form of formModules" [value]="form.id">
                        {{ form.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Permission</mat-label>
                <mat-select formControlName="permissionid" required>
                    <mat-option *ngFor="let permission of permissions" [value]="permission.id">
                        {{ permission.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div>
            <button type="submit" mat-flat-button>Save</button>
            <a mat-stroked-button routerLink="/rolFormPermission">Cancel</a>
        </div>
    </div>
</form>