<h2>List rolUser</h2>
<button mat-flat-button routerLink="/rolUser/create">Create rolUser</button>

@if (rolUsers) {

<table mat-table [dataSource]="rolUsers" class="mat-elevation-z8 lista">
    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td mat-cell *matCellDef="let rolUser">
            {{rolUser.userName}}
        </td>
    </ng-container>

    <ng-container matColumnDef="rolName">
        <th mat-header-cell *matHeaderCellDef>Rol Name</th>
        <td mat-cell *matCellDef="let rolUser">
            {{rolUser.rolName}}
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let form">
            <a mat-flat-button routerLink="/rolUser/update/{{form.id}}">Edit</a>
            <button mat-flat-button color="warn">Delete</button>
            <button mat-stroked-button (click)="DeleteLogical(form.id)">Delete Logical</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let rolUser; columns: columns"></tr>

</table>
}